/*====================================================================  */
/* responsive calendar styles */

 .responsive-iframe-container {
  max-width: 100vw;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}

.responsive-iframe-container iframe{
  max-width: 100vw;
}
/* .responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
} */ */


.main-content>.info>h2{
  text-align: center;
}

/*====================================================================  */
/*====================================================================  */
/*====================================================================  */
/*====================================================================  */
/* Desktop Content  styles */

@supports (grid-area:auto) {
  @media screen and (min-width: 75em) {
    .container>.content-panel>.main-content{
      margin-bottom: 0;
    }

    .main-content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows:  1fr 1fr 1fr;
      grid-template-areas:
      ". info ."
      ". info ."
      ". info ."
    }


  }
}
















/* Extend page */
