/*====================================================================  */
/* Clean up basic styles */
*{
  margin: 0;
  padding:0;
}
html{
  height: 100%;
  box-sizing: border-box;
}

body{
  height: 100%;
  max-width: 100vw;
  font-family: 'Crimson Text', serif;
}

.container{
  height: 100%;
  max-width: 100%;
  margin: auto;
  overflow-x: hidden;
  font-size:20px;
}

.container>.content-panel{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*====================================================================  */
/* Navigations styles */
.container>.content-panel>nav{
  text-align: center;
}
.container>.content-panel>nav>ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.container>.content-panel>nav>ul>li{
  padding: .5em;
  font-size:20px;
}

.container>.content-panel>nav>ul>li>a{
  text-decoration: none;
  color:black;
}


/*====================================================================  */
/* Header styles */
.container>.content-panel>header{
  text-align: center;
  height: 4em;
  padding: 1em;
}

.container>.content-panel>header>a{
  text-decoration: none;
  color:black;
}

.container>.content-panel>header>a>h1{
  font-family: serif;
}


.container>.content-panel>header>a>h2{
  font-family: 'Raleway', sans-serif;
}



/*====================================================================  */
/* Hero styles */
.container>.content-panel>.hero{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container>.content-panel>.hero>img{
  max-width: 100vw;
}

/*====================================================================  */
/* Main Content>blockquote styles */
.container>.content-panel>.main-content{
  flex:1;
  margin-bottom: 2em;
}
/*====================================================================  */
/* Main Content>blockquote styles */
.container>.content-panel>.main-content>blockquote{
  font-style: italic;
  padding: 2em;
  background-color: #ffaaa72e;
}


/*====================================================================  */
/* Main Content > info styles */
.container>.content-panel>.main-content>.info>h2{
  padding: .5em;
  padding-bottom: 0;
}
.container>.content-panel>.main-content>.info>p{
  padding: .8em;
  font-family: 'Crimson Text', serif;
}

/*====================================================================  */
/* Main Content > member styles */
.container>.content-panel>.main-content>.member-join{
  padding: 2em;
  background-color: #ffaaa72e;
  font-family: 'Crimson Text', serif;
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-align: center;
}
.container>.content-panel>.main-content>.member-join>p{
  margin-bottom: 1em;
}
.container>.content-panel>.main-content>.member-join>a{
  text-decoration: none;
  color:white;
  background-color: black;
  padding: .5em;
  text-align: center;
}

/*====================================================================  */
/* Footer Content  styles */
.container>.content-panel>footer{
  justify-self:flex-end;
  padding: 1em;
  color:white;
  background-color: #6d190d;
  font-family: 'Crimson Text', serif;
  justify-content: center;
  text-align: center;
}

.container>.content-panel>footer>h3{
  margin-top: 1em;
}

.container>.content-panel>footer>.loc>a{
  color:white;
  text-decoration: underline;
}

.loc>a {
    color: white;
}

/*====================================================================  */
/*====================================================================  */
/*====================================================================  */
/*====================================================================  */
/* Desktop Content  styles */

@supports (grid-area:auto) {
  @media screen and (min-width: 75em) {

    .container>.content-panel>nav>ul>li>a:hover {
    text-decoration: underline;
    }

    .info{
      grid-area:info;
    }
    .member-join{
      grid-area:join;
      width: 300px;
      justify-self: center;
    }

    blockquote{
      margin: 1em;
      grid-area:quote;
      width: 300px;
      justify-self: center;
      margin: auto;
    }

    .main-content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows:  1fr 1fr 1fr;
      grid-template-areas:
      "quote info join"
      ". info ."
      ". info ."
    }

    footer{
      display: flex;
      justify-content: space-between;
    }
    .contact{
      text-align: right;
    }

    .container>.content-panel>.hero{
      height: 30em;
    }

    .container>.content-panel>.hero>img{
      width: 100%;
  }

}
















/* Extend page */
