<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name = "description" content="Want to get involved with Montebello History? Come to the Montebello Historical Society to learn more about local history. Come Volunteer with us!">
  <meta name="author" content="Abdul T Shaikh @abdulisbomb">
  <title>Montebello Historical Society</title>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../master.css">
</head>
<body>
  <div class="container" id="app">
    <div class="content-panel">
      <header>
        <a href="index.html">
          <h1>Montebello </h1>
          <h2>Historical Society</h2>
        </a>
      </header>
      <nav>
        <ul>
          <li><a href="/officers">Officers</a></li>
          <li><a href="/history">History</a></li>
          <li><a href="/museum">Museum</a></li>
          <li><a href="/newsletter">Newsletter</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
      <div class="hero">
        <img src="imgs/hero-banner.jpg" alt="Historic Photo">
      </div>
      <div class="main-content">
        <blockquote cite="#">
          <p>
            A people without the knowledge of their past history, origin and culture is like a tree without roots.
            <br>
            -Marcus Garvey
          </p>
        </blockquote>
        <div class="info">
          <h2>Adobe Museum</h2>
          <p>Welcome to the Montebello Historical Society. We cordially invite everyone to visit the
            Juan Matias Sanchez Adobe, Historic Site and Museum, located on the site of the oldest residence in Montebello.
             The Adobe was built in 1844 about one mile from the site of the first San Gabriel Mission and was part of the 2,363-acre Rancho La Merced.</p>
          <p> Although the Adobe is owned by the City of Montebello, the Montebello Historical Society manages it.  You will find that the area has a rich and varied history of Gabrieleno Indian, Spanish, Californio, and American Heritage.  Every year, the Montebello Historical Society sponsors programs that seek to connect the past with the present by offering programs that educate and enrich all audiences.</p>
          <p> We are making great progress in our plans to establish a 20th century collection to showcase even more of Montebello's memories from the 1900's.</p>
          <p> This new collection includes highlights of Montebello's early beginnings when it was known as the City of Flowers because of its many nurseries.  We want this collection to highlight individual contributions as well as the City's oil-rich history through pictures and artifacts and we are very excited about our plans to build a replica of Newmark general store.</p>
          <p> We are also working on new memorabilia for the Juan Sanchez room which showcases architecture of the mid-1800's with furnished rooms from the time period, Sanchez family artifacts, along with historical photos of the City.</p>
        </div>
        <!-- LightWidget WIDGET -->
        <div class="insta">
          <h3>Gallery</h3>
          <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/60ade8c48a665d55abcf47b270538a44.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
          <a href="https://www.instagram.com/jmsanchez_adobe/" target="_blank">View All</a>
        </div>
        <div class="member-join">
          <p>Come Join the Montebello History Society and help us preserve local History!</p>
          <a href="/join">Become A Member!</a>

        </div>
      </div>
      <footer>
        <div class="loc">
          <a target="blank" href="https://www.google.com/maps/place/Juan+Matias+Sanchez+Adobe/@34.0242896,-118.0863119,15z/data=!4m2!3m1!1s0x0:0xa0aac6a6533ce357?sa=X&ved=0ahUKEwim8Z3DvMvYAhUV6mMKHSRaCmIQ_BIIgwEwDg">
            <p>946 N Adobe Ave Montebello CA 90640</p>
          </a>
          <p>(323) 887-4592</p>
          <a href="mailto:info@montebellohistoricalsociety.org">info@montebellohistoricalsociety.org</a>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
